:root {
    --background-color: #fff;
    --background-light: #fff;
    --shadow-color: rgba(0, 0, 0, 0.2);
    --primary-color: #8b417b;
    --text-color: #0a0a0a;
    --text-light: #575757;
    --font-size: 16px;
    --animation-speed: 1;
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  img {
    object-fit: cover;
  }
  body {
    font-size: var(--font-size);
    font-family: "Roboto", sans-serif;
    padding-top: 55px;
    background-color: var(--background-light);
  }
  a {
    text-decoration: none;
  }
  
  h1 {
    color: var(--text-color);
  }
  @import url(authPage.scss);
  @import url(home.scss);
  @import url(user.scss);
  @import url(about.scss);
  @import url(help.scss);
  @import url(main.scss);
  @import url(coinHis.scss);
  @import url(donetion.scss);
  @import url(post.scss);
  @import url(search.scss);
  